# PUERTO API
PORT_API=3000

# POSTGRES (Para Producción/Staging)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secure_password_here
POSTGRES_DB=microblog_prod

# URLS DE CONEXIÓN
# Si corres fuera de Docker: localhost
# Si corres dentro de Docker: nombre del servicio (postgres o redis)
DATABASE_URL=postgresql://postgres:secure_password_here@postgres:5432/microblog_prod
REDIS_URL=redis://redis:6379

# SEGURIDAD
JWT_ACCESS_SECRET=cambiame_en_produccion_123
JWT_REFRESH_SECRET=cambiame_en_produccion_456
CORS_ORIGIN=http://localhost:3000