name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    # Definimos servicios secundarios (Docker) que necesita nuestra App para los tests
    services:
      postgres-db:
        image: postgres:15
        env:
          POSTGRES_USER: user_test
          POSTGRES_PASSWORD: password_test
          POSTGRES_DB: db_test
        ports:
          - 5432:5432
        # Esperamos a que la DB esté lista antes de empezar los pasos
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
# ... (pasos anteriores de setup y postgres)

      - name: Install dependencies
        run: npm ci
        # El script "prepare" ejecutará "husky install" automáticamente aquí

      - name: Generate Prisma Client
        run: npm run prisma:generate

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Push Database Schema
        run: npx prisma db push
        env:
          DATABASE_URL: postgresql://user_test:password_test@localhost:5432/db_test

      - name: Test with coverage
        run: npm run test:ci
        env:
          DATABASE_URL: postgresql://user_test:password_test@localhost:5432/db_test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/lcov.info # Vitest por defecto genera esto si tienes habilitado lcov
          token: ${{ secrets.CODECOV_TOKEN }}